<div class="navbar">
  <div class="navbar-inner">
    {{#linkTo "index"}}fido{{/linkTo}}
    <ul class="nav">
      <li>{{#linkTo "posts"}}posts{{/linkTo}}</li>
      <li>{{#linkTo "about"}}about{{/linkTo}}</li>
    </ul>
  </div>
</div>
{{outlet}}