<div class="navbar">
  <div class="navbar-inner">
    {{#link-to "index"}}fido{{/link-to}}
    <ul class="nav">
      <li>{{#link-to "posts"}}posts{{/link-to}}</li>
      <li>{{#link-to "about"}}about{{/link-to}}</li>
      <li>{{#link-to "users"}}users{{/link-to}}</li>
    </ul>
  </div>
</div>
<div>
{{render 'sessions/new' session}}
currentUser: {{currentUser.name}}
<br>Fido.session: {{Fido.session}}
</div>
{{outlet}}