<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <table class="table">
        <thead>
        <tr>
          <th>recent posts</th>
        </tr>
        </thead>
        {{#each post in filteredContent}}
          <tr>
            <td>
              {{#link-to "posts.post" post}}{{post.title}}
              <small class="muted">by {{post.user.name}}</small>
              {{/link-to}}
            </td>
          </tr>
        {{/each}}
        <tr>
          <td></td>
        </tr>
      </table>
    </div>
    <div>
      {{#link-to "posts.new"}}add{{/link-to}}
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>