<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <table class="table">
        <thead>
        <tr>
          <th>users</th>
        </tr>
        </thead>
        {{#each user in filteredContent}}
          <tr>
            <td>
              {{user.id}}
              {{#link-to "users.user" user}}{{user.name}}{{/link-to}}
              <small class="muted"> password: {{user.password}}</small>
            </td>
          </tr>
        {{/each}}
        <tr>
          <td></td>
        </tr>
      </table>
    </div>
    <div>
      {{#link-to "users.new"}}add{{/link-to}}
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>